<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> {# Usamos navbar-dark y bg-dark (de tu main.css) #}
  <div class="container-fluid"> {# Usar container-fluid para que ocupe todo el ancho o container si quieres centrarlo y limitar el ancho #}
    <a class="navbar-brand" href="/">Gestión de Bodega</a> {# Título o logo principal #}
    
    {# Botón para menú responsivo en móviles #}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {# Contenedor principal para los enlaces de navegación #}
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto"> {# ms-auto empuja los elementos de menú a la derecha #}
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a> {# Home/Inicio, quitar active por defecto #}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/variedades/menu">Variedad Uva</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lotes/menu">Lotes Vino</a>
        </li>
        {# Aquí agregarías los enlaces para el resto de tus entidades #}
        {# Por ejemplo: #}
        <li class="nav-item">
          <a class="nav-link" href="/recepcion">Recepción de Uva</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/fermentacion">Fermentación</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/crianza">Crianza y Almacenamiento</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/embotellado">Embotellado</a>
        </li>
        {# Separador opcional o grupo de enlaces al final #}
        <li class="nav-item">
          <a class="nav-link" href="/about">Acerca de</a>
        </li>
      </ul>
    </div>
  </div>
</nav>