<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Gestión de Bodega</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/variedades/menu">Variedad Uva</a> {# Puedes mantener este si es una sección "maestra" #}
        </li>

        {# Menú Desplegable para Etapas de Trazabilidad #}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProceso" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Trazabilidad del Vino
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownProceso"> {# dropdown-menu-dark para un fondo oscuro #}
            <li><h6 class="dropdown-header">Proceso de Elaboración</h6></li> {# Título dentro del desplegable #}
            <li><a class="dropdown-item" href="/lotes/menu">Lotes de Vino</a></li>
            <li><hr class="dropdown-divider"></li> {# Separador #}
            <li><a class="dropdown-item" href="/recepcion/menu">Recepción de Uva</a></li>
            <li><a class="dropdown-item" href="/fermentacion/menu">Fermentación</a></li>
            <li><a class="dropdown-item" href="/crianza/menu">Crianza y Almacenamiento</a></li> {# ¡CAMBIO AQUÍ! Añadir /menu #}
            <li><a class="dropdown-item" href="/embotellado/menu">Embotellado</a></li> {# ¡CAMBIO AQUÍ! Añadir /menu #}
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">Acerca de</a>
        </li>
      </ul>
    </div>
  </div>
</nav>