{% extends 'layout.html' %}

{% block title %}Variedades Menu{% endblock %}


{% block body %}
<div class="container mt-4">
    <h1>Menú de Variedades</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="/variedades/listar"">📄 Ver todas las variedades</a></li>
        <li class="list-group-item"><a href="/variedades/listar">➕ Agregar nueva variedad</a></li>
        <li class="list-group-item"><a href="/variedades/listar">❌ Eliminar una variedad</a></li>
    </ul>
</div>
{% endblock %}
